@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  --scrollbar-width: 0.1rem;
}

/* https://stackoverflow.com/questions/55236668/rem-in-web-component-shadow-dom */
html,
body {
  font-size: 72px;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: #34314c;
  border-radius: 0px;
  box-shadow: none;
  width: var(--scrollbar-width);
  border: 0;
}

body::-webkit-scrollbar-track {
  border-radius: 0;
  background: #f1f1f1;
  width: var(--scrollbar-width);
}

body::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

@media screen and (min-width: 320px) {
  /* https://stackoverflow.com/questions/197748/how-do-i-change-the-background-color-with-javascript */
  body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ece1cf;
  }
}
