*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  overflow-y: auto;
}

.app {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px;
}
