*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.my-node {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 1200ms;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 1200ms;
  }
}
